.products-cart-div {
  padding: 40px;

  .items {
    display: grid;
    row-gap: 15px;
    max-width: 600px;
    margin: 15px auto;

    h2 {
      margin-top: 0 !important;
      text-align: right;
      margin-top: 10px;
    }
  }
}
