<mat-card>
  <mat-card-header>
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <span class="details">{{ item.price | currency }}</span> x
      <span class="details">{{ item.quantity }}</span> =
      {{ item.total | currency }}
    </p>
    <button
      mat-icon-button
      matTooltip="Remove item from cart"
      (click)="removeItem()"
    >
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
