<div class="products-div" @ease>
  <h1>Products</h1>
  <mat-label>Filter by category: </mat-label>
  <select #select (change)="filterProducts(select.value)">
    <option value="None">None</option>
    <option *ngFor="let categorie of categories" [value]="categorie.slug">
      {{ categorie.name }}
    </option>
  </select>
  <mat-divider></mat-divider>

  <div class="products">
    <app-product-item
      *ngFor="let product of products"
      @fade
      @grow
      [product]="product"
      class="product-card"
    ></app-product-item>
  </div>
</div>
