.products-div {
  padding: 40px;

  select {
    padding: 12px;
    margin: 0 0 10px 10px;
    border: none;
    outline: none;
  }

  .products {
    margin-top: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
