<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content
    ><p>
      <button mat-icon-button (click)="rateProduct('up')">
        <mat-icon color="primary">thumb_up</mat-icon>
      </button>
      <span class="details">{{ product.likes_up_count }}</span>
      <button mat-icon-button (click)="rateProduct('down')">
        <mat-icon color="warn">thumb_down</mat-icon>
      </button>
      <span class="details">{{ product.likes_down_count }}</span>
    </p>
    <img mat-card-image [src]="product.image?.url" />
    <p>
      <span class="details">{{ product.category.name }}</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <p>
      <button mat-icon-button (click)="removeItem()">
        <mat-icon color="accent">remove_circle</mat-icon>
      </button>
      {{ itemCount }}
      <button mat-icon-button (click)="addItem()">
        <mat-icon color="accent">add_circle</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Add product to cart"
        (click)="addItemsToCart()"
      >
        <mat-icon color="primary">add_shopping_cart</mat-icon>
      </button>
    </p>
  </mat-card-actions>
</mat-card>
