span {
  color: primary;
}

.dialog-div {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 480px) {
    flex-direction: row;
  }

  img {
    max-width: 150px;

    @media (min-width: 300px) {
      max-width: 200px;
    }

    @media (min-width: 768px) {
      max-width: 400px;
    }
  }
}

.buttons-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;

  @media (min-width: 480px) {
    flex-direction: row;
  }
}
